/* /assets/css/styles.css */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/zain_font.ttf') format('truetype');
  }
/* Typography */
body {
    font-family: 'CustomFont', sans-serif;
    font-variant-numeric: normal;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #343a40;
}
body *:not(:has(:not([class*="number"]))) {
    font-family: 'Arial', sans-serif; /* Fallback for numbers */
}

h1, h2, h3 {
    color: #495057;
}

p {
    margin-bottom: 1rem;
}

/* Container */
.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Buttons */
.btn-custom {
    background-color: #e8491d;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #cf3e14;
}

/* Forms */
.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #e8491d;
    outline: none;
}

/* Tables */
.table thead th {
    background-color: #f1f1f1;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Alerts */
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .btn-custom {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .navbar-brand {
        font-size: 20px;
    }
}